

.title p span{
    display: block;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;;
    white-space: nowrap;/*cómo se maneja el espacio en blanco dentro de un elemento*/
    border-right: 4px solid #e865e8;
    width: 31ch;/*el numero de caracteres*/
    animation: typing 4s  steps(31), blink 5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from{ width: 0%}

}
@keyframes blink{
    50%{border-color: transparent;}
}