/* El código CSS `sección#form-contacto` está dirigido a una sección específica con el ID
`form-contacto`. */
section#form-contacto {
	display: flex;
	width: auto;
	height: auto;
	margin-top: 7rem;
}
/* El código CSS `sección#form-contacto div.datos-content` está dirigido a una sección específica con
el ID `form-contacto` y su elemento hijo `div.datos-content`. */
section#form-contacto div.datos-content {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-5);
	line-height: 35px;
	font-family: var(--fuente-primaria2);
	color: var(--color-blanco);
}
section#form-contacto div.datos-content h4 {
	text-transform: uppercase;
}

section#form-contacto div.datos-content ul {
	list-style: none;
}
section#form-contacto div.datos-content ul li:nth-child(1) {
	font-size: clamp(0.2rem, 3vw, 1.5rem);
}
section#form-contacto div.datos-content ul li h4 {
	margin-top: 1rem;
}
/* El código CSS `sección#form-contacto div.datos-content .social` está dirigido a una sección
específica con el ID `form-contacto`, su elemento hijo `div.datos-content` y su elemento
descendiente con la clase ` .sociales`. */
section#form-contacto div.datos-content .social {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

section#form-contacto div.datos-content .social li {
	margin-right: 1.2rem !important;
}
section#form-contacto div.datos-content .social li a {
	text-decoration: none;
	color: var(--color-blanco);
}

/*continuar con tooltip*/
section#form-contacto div.datos-content .social li span {
	color: var(--color-blanco);
	font-size: clamp(1rem, 1vw, 1rem);
	text-align: center;
	position: absolute;
	z-index: 1;
	top: -135%; /* revisar codigo de toolpi*/
	left: 0%;
	border-radius: 1px;
	background-color: var(--color-negro);
	opacity: 0;
	transition: opacity 0.3s ease;
	border-radius: 8px;
	padding: 4px 4px;
}
/* El código CSS `section#form-contacto div.datos-content .social li span::after` está creando un
pseudo-elemento `::after` para el elemento `span` dentro del elemento `li` con la clase `social `. */
section#form-contacto div.datos-content .social li span::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

/* El código `i#facebook:hover`, `i#gmail:hover` y `i#github:hover` son selectores CSS que apuntan a
los elementos `i` con los ID `facebook`, `gmail` y `github. `respectivamente cuando el usuario pasa
el cursor sobre ellos. */
i#facebook:hover {
	color: var(--color-facebook);
}
i#gmail:hover {
	color: var(--color-gmail);
}
i#github:hover {
	color: var(--color-github);
}

/* El código CSS `sección#form-contacto div.datos-content .social :has(> span)` está seleccionando
cualquier elemento con la clase `social` que sea descendiente de `div.datos-content` que tenga un
elemento hijo `lapso`. Establece la posición en relativa y el cursor en puntero. */
section#form-contacto div.datos-content .social :has(> span) {
	position: relative;
	cursor: pointer;
}
/* El código CSS `section#form-contacto div.datos-content .social :has(> span):hover span` está
dirigido al elemento `span` que es hijo directo de un elemento con la clase `social`, que es un
descendiente del elemento `div` con la clase `datos-content`, el cual es descendiente del elemento
`section` con el ID `form-contacto`. */
section#form-contacto div.datos-content .social :has(> span):hover span {
	opacity: 1;
	filter: opacity(85%);
	-webkit-filter: opacity(85%);
	-moz-filter: opacity(85%);
}

/* El código CSS `sección#form-contacto div.form-content` está dirigido a una sección específica con el
ID `form-contacto` y su elemento secundario `div.form-content`. */
section#form-contacto div.form-content {
	width: 55%;
	display: flex;
	justify-content: space-evenly;
	background-color: var(--color-gray);
}
/* El código CSS `section#form-contacto div.form-content form h1` está dirigido al elemento `h1` dentro
del elemento `form` que es hijo del elemento `div` con la clase `form-content`, que es un hijo del
elemento `sección` con el ID `form-contacto`. */
section#form-contacto div.form-content form h1 {
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.8rem;
	color: var(--color-5);
}
section#form-contacto div.form-content form p {
	width: 100%;
	font-size: clamp(1rem, 2vw, 1rem); /* tamaño de letra */
	font-weight: bold; /* negrita */
	font-family: var(--fuente-secundaria2);
	margin-bottom: 0.5rem;
	color: var(--color-blanco);
}
/* El código CSS `sección#form-contacto div.form-content form` está dirigido a una sección específica
con el ID `form-contacto`, su elemento hijo `div` con la clase `form-content` y su descendiente
`form `elemento. */
section#form-contacto div.form-content form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-top: 5rem;
}
/* El código CSS `div.form-content div.info` apunta a un elemento `div` con la clase `info` que es
descendiente de otro elemento `div` con la clase `form-content`. */
div.form-content div.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* El código CSS `div.form-content div.info input#nombre, input#email` está dirigido a los elementos de
entrada con los ID `nombre` y `email` que son descendientes del elemento `div` con la clase `info` ,
que es descendiente del elemento `div` con la clase `form-content`. */
div.form-content div.info input#nombre,
input#email {
	width: 15rem;
	height: 25px;
	display: flex;
	border: none;
	background-color: var(--color-primario);
	border-radius: 2px;
	margin-right: 1rem;
	padding: 0.5rem;
	color: var(--color-blanco);
}
/* El código CSS `div.form-content div.info input#nombre:focus, input#email:focus` está dirigido a los
elementos `input` con los ID `nombre` y `email` que son descendientes del elemento `div` con la
clase `info`, que es descendiente del elemento `div` con la clase `form-content`. */
div.form-content div.info input#nombre:focus,
input#email:focus {
	border-color: var(--color-5);
	box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px var(--color-5);
	outline: 0 none;
	padding: 0.5rem;
}

/* El código CSS `div.form-content div.info input::placeholder` apunta al texto del marcador de
posición de los elementos de entrada que son descendientes del elemento `div` con la clase `info`,
que es descendiente del `div ` elemento con la clase `form-content`. */
div.form-content div.info input::placeholder {
	color: var(--color-gray-2);
}

/* El código CSS `div.form-content div.messaje-content` está dirigido al elemento `div` con la clase
`messaje-content` que es descendiente de otro elemento `div` con la clase `form-content`. */
div.form-content div.messaje-content {
	min-width: 100%;
	margin-top: 1rem;
}
/* El código CSS `div.form-content div.messaje-content textarea` está dirigido al elemento `textarea`
que es descendiente del elemento `div` con la clase `messaje-content`, que es descendiente de otro
`div ` elemento con la clase `form-content`. */
div.form-content div.messaje-content textarea {
	background-color: var(--color-primario);
	padding: 0.5rem;
	border-radius: 3px;
	border: none;
	color: var(--color-blanco);
	resize: horizontal;
}
/* El código CSS `textarea:focus` apunta al elemento `textarea` cuando está enfocado (cuando el usuario
hace clic en él o tabula). */
textarea:focus {
	border-color: var(--color-5);
	box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px var(--color-5);
	outline: 0 none;
	color: #fff;
	padding: 0.5rem;
}
/* continuar codigo de formulario */

/* El código CSS `section#form-contacto div.form-content div.submit` está dirigido al elemento con la
clase `submit` que es descendiente del elemento `div` con la clase `form-content`, que es un
descendiente del elemento `sección` con el ID `form-contacto`. */
section#form-contacto div.form-content div.submit {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	margin-top: 0.6rem;
}
/* El código CSS que proporcionó está diseñando un elemento de botón que es descendiente del elemento
div con la clase "enviar", que es descendiente del elemento div con la clase "form-content", que es
descendiente del elemento de sección con el ID "formulario-contacto". */
section#form-contacto div.form-content div.submit button {
	width: 5rem;
	height: 2rem;
	background: var(--color-5);
	border: none;
	cursor: pointer;
	border-radius: 4px;
	margin: 1rem;
	align-items: center;
	color: var(--color-blanco);
	border: 1px solid var(--color-gray-2);
}

section#form-contacto div.form-content div.submit button:hover {
	background-color: var(--color-4);
	transition: ease-out 1s;
}
/* El código anterior define estilos CSS para una sección de formulario con la identificación
"form-contacto" en un tema ligero. Establece el color de fondo, el borde y el color del texto para
la sección del formulario y su contenido. También establece el color de fondo y el color del texto
para el área de texto y los campos de entrada dentro del formulario. Además, define un estilo de
enfoque para los campos de entrada, cambiando el color de fondo, el color del texto y agregando un
borde inferior cuando los campos están enfocados. */
.light section#form-contacto div.form-content {
	background-color: var(--color-secundario);
}
.light section#form-contacto div.form-content form p {
	color: var(--color-negro);
}
.light div.form-content div.messaje-content textarea {
	background-color: var(--color-blanco);
	color: var(--color-gray);
}
.light div.form-content div.info input#nombre {
	background-color: var(--color-blanco);
	color: var(--color-negro);
}
.light div.form-content div.info input#email {
	background-color: var(--color-blanco);
	color: var(--color-negro);
}

.light div.form-content div.info input#nombre:focus input#email:focus {
	background-color: var(--color-blanco);
	color: var(--color-negro) !important;
	border-bottom: solid 0.2em rgb(var(--color-5));
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	/* El código CSS `sección#form-contacto` está dirigido a una sección específica con el ID
	`form-contacto`. Establece la propiedad de visualización en flex, lo que permite que la sección sea
	un contenedor flexible. La propiedad `justify-content: center;` centra los elementos flexibles
	verticalmente dentro de la sección. La propiedad `flex-direction: column-reverse;` organiza los
	elementos flexibles en un diseño de columnas, pero en orden inverso. La propiedad `width: auto;`
	permite que la sección ajuste su ancho automáticamente según su contenido. */
	section#form-contacto {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
		width: auto;
	}
	/* El código anterior define una regla CSS para una sección específica con el ID "form-contacto" y un
	div secundario con la clase "datos-content". La regla establece la propiedad de visualización en
	"flex" y la propiedad de ancho en "auto", lo que significa que el div y su contenido se mostrarán
	en un diseño flexible y el ancho se determinará automáticamente. */
	section#form-contacto div.datos-content {
		display: flex;
		width: auto;
	}
	/* El código anterior define una regla CSS para una sección específica con el ID "form-contacto" y un
	div secundario con la clase "form-content". Establece el ancho del div en automático y aplica
	propiedades de flexbox para centrar su contenido horizontalmente. */
	section#form-contacto div.form-content {
		width: auto;
		display: flex;
		justify-content: center;
	}
	/* El código anterior define estilos CSS para un formulario. */
	div.form-content div.info {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}
	div.form-content div.info input#nombre,
	input#email {
		width: 11rem;
	}
	/* El código anterior define estilos CSS para ciertos elementos en una página web. */
	div.form-content div.messaje-content {
		display: flex;
		justify-content: center;
		max-width: 30vw;
	}
	section#form-contacto div.datos-content .social {
		padding-bottom: 1rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	/* El código anterior define estilos CSS para una sección de formulario con el ID "form-contacto". */
	section#form-contacto div.form-content form h1 {
		padding-left: 0.5rem;
	}
	section#form-contacto div.form-content form p {
		padding-left: 0.5rem;
	}
	div.form-content div.info {
		display: flex;
		flex-wrap: nowrap;
		justify-content: start;
		padding-left: 1rem;
		min-width: 100%;
	}
	/* El código anterior define estilos CSS para ciertos elementos en un formulario. */
	div.form-content div.info input#nombre,
	input#email {
		width: 11rem;
	}
	div.form-content div.messaje-content {
		padding-left: 1rem;
	}
	div.form-content div.messaje-content textarea {
		resize: horizontal;
		width: 90%;
	}
}
@media (min-width: 1200px) and (max-width: 1440px) {
	/* arreglar parte responsiva */
}
