/* El código CSS `section.formation-academica` está dirigido a un `<section> `elemento con la clase
&quot;formación-académica&quot;. Aplica los siguientes estilos al elemento: */
section.formation-academica {
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: var(--color-primario);
	margin-top: 5rem;
	border-radius: 5px;
	box-shadow: 10px 10px 99px 0px rgba(37, 35, 35, 0.75);
	-webkit-box-shadow: 10px 10px 99px 0px rgba(37, 35, 35, 0.75);
	-moz-box-shadow: 10px 10px 99px 0px rgba(37, 35, 35, 0.75);
}
/* El código CSS `section.formation-academica h3` está dirigido a `<h3> `elemento dentro de
un`<section> `elemento con la clase &quot;formación-académica&quot;. Aplica los siguientes estilos
al `<h3> `elemento: */

section.formation-academica h3 {
	font-size: clamp(1.5rem, 3vw, 2rem);
	padding: 1em;
	text-align: center;
	text-shadow: 0px 4px 2px var(--color-gray);
	color: var(--color-blanco);
	-webkit-text-stroke: 1px var(--color-gray-2);
}
/*First box */
/* El código CSS `div.formation .formation-box` está dirigido a un `<div> ` elemento con la clase
&quot;formación&quot; y un elemento hijo con la clase &quot;formacion-cuadro&quot;. Aplica los
siguientes estilos al elemento: */
div.formation .formation-box {
	display: flex;
	justify-content: space-evenly;
}

/* El código CSS `div.formation .formation-box ul` está dirigido a un `<ul> ` elemento que es hijo de
`<div> `elemento con la clase &quot;formación&quot; y un descendiente de un `<div> `elemento con la
clase &quot;cuadro de formación&quot;. Aplica los siguientes estilos al `<ul> `elemento: */
div.formation .formation-box ul {
	display: flex;
	padding: 0.8rem;
	align-items: flex-start;
	width: 40vw;
	height: auto;
	border-radius: 3px;
	background-color: var(--color-gray);
	flex-direction: column;
	justify-content: center;
	list-style: none;
}

/* El código CSS `div.formation .formation-box ul li:nth-child(odd) { line-height: 2rem; }` está
dirigido a los ` impares<li> ` elementos que son descendientes de un `<ul> ` elemento, que es hijo
de un `<div> `elemento con las clases &quot;formación&quot; y &quot;cuadro de formación&quot;.
Establece la altura de línea de los ` impares<li> `elementos a 2rem. */
div.formation .formation-box ul li:nth-child(odd) {
	line-height: 2rem;
}
div.formation .formation-box .title-date {
	color: var(--color-blanco);
	background-color: var(--color-4);
	width: 8rem;
	text-align: center;
	color: #ffff;
	background-color: var(--color-4);
	text-align: center;
	border-radius: 8px;
	font-weight: bold;
	/*continuar codigo pendiente*/
}
div.formation .formation-box .name-title {
	text-transform: uppercase;
	font-size: clamp(0.9rem, 1vw, 1rem);
	color: var(--color-secundario);
	margin-top: 0.7rem;
	font-family: var(--fuente-primaria2);
}

div.formation .formation-box .name-university {
	text-transform: capitalize;
	font-size: clamp(1.2rem, 2vw, 1rem);
	font-weight: bold;
	font-family: var(--fuente-primaria);
	color: var(--color-4);
	margin: 1rem 0 1rem;
}

/* El código CSS `div.formation .formation-box .container-description` está dirigido a un elemento con
la clase "container-description" que es descendiente de un elemento con la clase "formation-box",
que es descendiente de un elemento con la clase "formación". Aplica los siguientes estilos al
elemento: */
div.formation .formation-box .container-description {
	color: var(--color-gray-2);
	font-family: var(--fuente-secundaria2);
}

/* configuracion claro */
.light section.formation-academica {
	background-color: var(--color-secundario);
}
.light section.formation-academica h3 {
	text-shadow: 0px 4px 2px var(--color-gray);
	color: var(--color-negro);
	-webkit-text-stroke: 1px var(--color-gray);
}
.light div.formation .formation-box ul {
	background-color: var(--color-blanco);
}
.light div.formation .formation-box .name-title {
	color: var(--color-gray);
}
/* second box */
div.formation .formation-box-second {
	display: flex;
	justify-content: space-evenly;
}

/* El código CSS `div.formation .formation-box-segundo ul` está dirigido a un `<ul> ` elemento que es
descendiente de un `<div> ` elemento con las clases &quot;formación&quot; y
&quot;formación-cuadro-segundo&quot;. Aplica los siguientes estilos al `<ul> `elemento: */
div.formation .formation-box-second ul {
	display: flex;
	width: 40vw;
	height: auto;
	padding: 0.7rem;
	background-color: var(--color-gray);
	flex-direction: column;
	margin-top: 2rem;
	/* gap: 3em ; */
	border-radius: 3px;
	list-style: none;
}

/* div.formacion .formacion-box-second ul li:nth-child(3){
  line-height: 2rem;

} */
/* El código CSS `div.formation .formation-box-segundo .title-date` está dirigido a un elemento con la
clase "title-date" que es descendiente de un elemento con la clase "formation-box-segundo", que es
un descendiente de un elemento con la clase "formación". */
div.formation .formation-box-second .title-date {
	margin-top: 0.5rem;
	width: 6rem;
	color: var(--color-blanco);
	padding: 0.4rem;
	text-align: center;
	border-radius: 8px;
	font-weight: bold;
	background-color: var(--color-4);
	width: 8rem;
	text-align: center;
} /* El código CSS `div.formation .formation-box-segundo .nombre-título` está dirigido a un elemento con
la clase "nombre-título" que es descendiente de un elemento con la clase
"formación-cuadro-segundo", que es un descendiente de un elemento con la clase "formación". Aplica
los siguientes estilos al elemento: */

div.formation .formation-box-second .name-title {
	text-transform: uppercase;
	font-family: var(--fuente-secundaria);
	font-size: clamp(0.9rem, 1vw, 1rem);
	color: var(--color-secundario);
	margin-top: 0.7rem;
}

/* El código CSS `div.formation .formation-box-segundo .nombre-universidad` está dirigido a un elemento
con la clase "nombre-universidad" que es descendiente de un elemento con la clase
"formación-cuadro-segundo", que es un descendiente de un elemento con la clase "formación". */
div.formation .formation-box-second .name-university {
	text-transform: capitalize;
	font-size: clamp(1.2rem, 2vw, 1rem);
	font-family: var(--fuente-primaria);
	margin: 1rem 0 1rem;
	font-weight: bold;
	color: var(--color-5);
}

/* El código CSS `div.formation .formation-box-segundo .container-description` está dirigido a un
elemento con la clase "container-description" que es descendiente de un elemento con la clase
"formation-box-segundo", que es un descendiente de un elemento con la clase "formación". Aplica los
siguientes estilos al elemento: */
div.formation .formation-box-second .container-description {
	color: var(--color-gray-2);
	font-family: var(--fuente-secundaria2);
}
/* configuracion clara second box */
.light div.formation .formation-box-second ul {
	background-color: var(--color-blanco);
}
.light div.formation .formation-box-second .name-title {
	color: var(--color-gray);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	section#formation-academica {
		height: auto;
	}
	/* El código CSS `div.formation .formation-box ul` está dirigido a un `<ul> ` elemento que es
  descendiente de un `<div> `elemento con las clases &quot;formación&quot; y &quot;cuadro de
  formación&quot;. Aplica los siguientes estilos al `<ul> `elemento: */
	div.formation .formation-box ul {
		display: flex;
		flex-wrap: nowrap;
		height: auto;
	}
	/* El código CSS `div.formation .formation-box-segundo ul` está dirigido a un `<ul> ` elemento que es
descendiente de un `<div> ` elemento con las clases &quot;formación&quot; y
&quot;formación-cuadro-segundo&quot;. Aplica los siguientes estilos al `<ul> `elemento: */
	div.formation .formation-box-second ul {
		height: auto;
		margin-bottom: 1rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	section#formation-academica {
		height: auto;
	}
	div.formation .formation-box ul {
		display: flex;
		flex-direction: column;
	}

	div.formation .formation-box-second {
		margin-bottom: 1rem;
	}
}
@media (min-width: 1200px) and (max-width: 1440px) {
	section#formation-academica {
		height: auto;
	}
	/* El código CSS `div.formation .formation-box-segundo` está dirigido a un `<div> ` elemento con la
  clase &quot;formación-cuadro-segundo&quot; que es descendiente de un `<div> `elemento con la clase
  &quot;formación&quot;. Aplica el estilo `margin-bottom: 1rem;` al elemento de destino. Este estilo
  establece el margen inferior del elemento en 1rem, creando un espacio entre este elemento y los
  elementos debajo de él. */
	div.formation .formation-box-second {
		margin-bottom: 1rem;
	}
}
