section#profile-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background: url(/assets/img/240_F_549232862_oPrsztcpgczoyNUZ9bwAGwDJstLQEeXU.jpg) no-repeat; */
  background: linear-gradient(238deg, #000 0%, #290322 100%);
  height: 40vw;
  line-height: 2rem;
  padding-top: 10rem;
  /* animation-name: square-in-center;
 animation-duration: 1s; */
}
/* @keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  } */
/* }  */

/* [transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-center both;
} */
.title-content{
   display: flex;
   justify-content: center;
  color: var(--color-blanco);
  text-transform: uppercase;
  font-size: 2rem;
}
.profile-title{
  /* margin-left: 2rem; */
  width: auto;
  text-align: center;
  color: var(--color-blanco);
}
/* .profile-title p:first-letter {
  text-transform: uppercase;
  font-size: 2.5rem;
} */
.profile-title span {
  display: block;
  font-size: clamp(1.5rem, 3vw, 1.5rem);
  margin: auto;
  color: var(--color-blanco);
  font-family: "Noto Sans", sans-serif;
  white-space: nowrap; /*cómo se maneja el espacio en blanco dentro de un elemento*/
  border-right: 4px solid #e865e8;
  width: 27ch; /*el numero de caracteres*/
  animation: typing 4s steps(27), blink 5s infinite step-end alternate;
  overflow: hidden;
  justify-content: center;
}
@keyframes typing {
  from {
    width: 0%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.redes {
  text-align: center;
  margin-top: 1rem;
}
.redes ul li {
  display: inline-block;
  list-style: none;
  justify-content: center;
  margin: 10px;
}
.redes i {
  border-radius: 5px;
  padding: 5px;
  background-color: var(--color-blanco);
}
.redes i:hover {
  background: none;
  border: 2px solid var(--color3);
}
.btn-cv {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  background: none;
  color: var(--color-blanco);
  border: 3px solid var(--color-5);
  box-shadow: -1px -5px 64px 0px rgba(103, 33, 201, 0.75);
  -webkit-box-shadow: -1px -5px 64px 0px rgba(103, 33, 201, 0.75);
  -moz-box-shadow: -1px -5px 64px 0px rgba(103, 33, 201, 0.75);
  transition: 1s all;
}
.btn-cv:hover {
  background-color: var(--color3);
  transform: scale(1.2);
}
.profile {
  width: 20%;
}
section.about {
  padding: 5rem;
  width: 90vw;
  height: auto;
  border: var(--color-blanco);
  color: var(--color-blanco);
  background: rgb(42, 26, 76);
  background: linear-gradient(
    0deg,
    rgba(42, 26, 76, 1) 0%,
    rgba(218, 124, 207, 1) 100%
  );
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 2rem;

  /* animation: square-in-hesitate;
  animation-duration: 1s; */
  /* margin-left: 3rem;
  margin-right: 3rem; */
}
/* @keyframes square-in-hesitate {
  0% {
    clip-path: inset(100% 100% 100% 100%);
  }
  40% {
    clip-path: inset(33% 33% 33% 33%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:hesitate"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-hesitate both;
} */
section.about h3 {
  font-size: 2rem;
}
section.about p {
  line-height: 2rem;
  font-family: "Cabin", sans-serif;
  text-align: justify;
}
.about-skills ul {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */

  justify-content: space-evenly;
  list-style: none;
}
.about-skills ul li {
  margin-top: 1rem;
}

/*Modo claro*/
.light section.about {
  border: transparent;
  background: var(--color-secundario);
  color: var(--color-negro);
  box-shadow: -3px 2px 28px 0px rgba(143, 89, 89, 0.75);
  -webkit-box-shadow: -3px 2px 28px 0px rgba(143, 89, 89, 0.75);
  -moz-box-shadow: -3px 2px 28px 0px rgba(143, 89, 89, 0.75);
}
@media screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
  .about-skills ul li img{
   margin-right: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  section#profile-container {
    display: flex;
    height: 100vw;
    padding-left: 0.2rem;
    padding-top: 7rem;
  }
  .profile img {
    display: none;
  }
  .profile-container p span:first-letter {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  .profile-container p {
    display: block;
    /* font-size: 1.5rem; */
    margin: auto;
    color: var(--color-blanco);
    font-family: "Noto Sans", sans-serif;
    white-space: nowrap; /*cómo se maneja el espacio en blanco dentro de un elemento*/
    border-right: 1px solid #e865e8;
    width: 29ch; /*el numero de caracteres*/
    animation: typing 4s steps(29), blink 5s infinite step-end alternate;
    overflow: hidden;
  }
  section.about {
    /* padding: 1rem; */
    width: 90vw;
    height: auto;
    border: var(--color-blanco);
    color: var(--color-blanco);
    background: rgb(42, 26, 76);
    background: linear-gradient(
      0deg,
      rgba(42, 26, 76, 1) 0%,
      rgba(218, 124, 207, 1) 100%
    );
    border-radius: 15px;
    margin-top: 2rem;
  }
}
