
section#profile-title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
   /* background: url(/assets/img/240_F_549232862_oPrsztcpgczoyNUZ9bwAGwDJstLQEeXU.jpg) no-repeat; */
  background: linear-gradient(238deg, #000 0%, #290322 100%);
  height: auto;
  line-height: 2.5rem;
  padding: 7rem;
 /* animation-name: square-in-center;
 animation-duration: 1s; */

  
}
/* @keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
} */

[transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}
.profile-container {
  /* margin-left: 2rem; */
  text-align: center;
  color: var(--color-blanco);
}
.profile-container h2 {
  display: block;
  font-size: clamp(1.5rem,3vw,2.5rem);
  margin: auto;
  color: var(--color-blanco);
  font-family: "Noto Sans", sans-serif;
  white-space: nowrap; /*cómo se maneja el espacio en blanco dentro de un elemento*/
  border-right: 4px solid #e865e8;
  width: 28ch; /*el numero de caracteres*/
  animation: typing 4s steps(28), blink 5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.redes {
  text-align: center;
  margin-top: 1rem;
}
.redes ul li {
  display: inline-block;
  list-style: none;
  justify-content: center;
  margin: 10px;
}
.redes button {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  background: none;
  color: var(--color-blanco);
  border: 3px solid var(--color-5);
  box-shadow: -1px -5px 64px 0px rgba(103, 33, 201, 0.75);
  -webkit-box-shadow: -1px -5px 64px 0px rgba(103, 33, 201, 0.75);
  -moz-box-shadow: -1px -5px 64px 0px rgba(103, 33, 201, 0.75);
}
section.about{
  padding: 5rem;
  width: 90vw;
  height: auto;
  text-align: justify;
  border:  var(--color-blanco);
  color: var(--color-blanco);
  background: var(--color-primario);
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 2rem;
  /* margin-left: 3rem;
  margin-right: 3rem; */
  
}
section.about h3{
  font-size: 2rem;
 
}
section.about p{
  line-height: 2rem;
  font-family: 'Cabin', sans-serif;
  
} 
/*Modo claro*/
.light section.about{
  border: transparent;
  background: var(--color-secundario);
  color: var(--color-negro);
  box-shadow: -3px 2px 28px 0px rgba(143,89,89,0.75);
  -webkit-box-shadow: -3px 2px 28px 0px rgba(143,89,89,0.75);
  -moz-box-shadow: -3px 2px 28px 0px rgba(143,89,89,0.75);
}

@media screen and (max-width: 768px) {
  .profile img {
    display: none;
  }
  .profile-container h2 span{
    display: block;
    /* font-size: 1.5rem; */
    margin: auto;
    color: var(--color-blanco);
    font-family: "Noto Sans", sans-serif;
    white-space: nowrap; /*cómo se maneja el espacio en blanco dentro de un elemento*/
    border-right: 1px solid #e865e8;
    width: 28ch; /*el numero de caracteres*/
    animation: typing 4s steps(28), blink 5s infinite step-end alternate;
    overflow: hidden;
  }
  section.about{
    /* padding: 1rem; */
    width: 90vw;
    height: auto;
    border:  var(--color-blanco);
    color: var(--color-blanco);
    background: var(--color-primario);
    border-radius: 15px;
    margin-top: 2rem;
}



}