@import url(../css/global/main.css);
/* Modular section imports */
@import url(../css/modules/header.css);
@import url(../css/modules/home.css);
@import url(../css/modules/about.css);
@import url(../css/modules/skills.css);
@import url(../css/modules/formation.css);
@import url(../css/modules/experience.css);
@import url(../css/modules/contact.css);
@import url(../css/modules/footer.css);
/* End of modular imports */

/* Base reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-primary);
}

/* WebKit scrollbar */
::-webkit-scrollbar {
	width: 20px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--color-gray);
	border-radius: 2px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
	background: var(--primary-gradient);
	border-radius: 15px;
}

/* Scrollbar thumb hover state */
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-gradient);
}
